
.tooltip {
  border-bottom: 1px dotted #000000;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext{
  visibility: hidden;
  position: absolute;

  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);

  left: -1.5em;
  top: 2.2em;
  z-index: 1;
  width: 350px;

  font-size: 90%;
  color: #666666;
  background-color: #F7F7F7; 
  border: 1px solid #F5F5F5;
  border-left: 3px solid #4c50b4;
  padding: 0.5em 0.8em 0.8em 0.8em;
}

#tooltipheader {
  font-size: 110%;
  font-weight: bold;
  display: block;
  color: #4c50b4;
  padding: 0.2em 0 0.6em 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
